<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "aTemplate">
<head>
    <meta charset="UTF-8">
    <title>form Réclamations</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment = "aContent">
    <div class="col-md-6 offset-3" >
        <form method="post" th:action="@{saveCLient}">
            <div class="mb-3 mt-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" th:value="${client.nom}">
                <span class="text-danger" th:errors="${client.nom}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="nom" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" name="email" th:value="${client.email}">
                <span class="text-danger" th:errors="${client.email}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="nom" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username" th:value="${client.username}">
                <span class="text-danger" th:errors="${client.username}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>